In [204]:
import pandas as pd
import numpy as np
import collections

In [205]:
trades_df = pd.read_csv("SIX_Trades.csv")
bluechips_df = pd.read_csv("SIXBlueChips.csv")
#reading in files

In [206]:
trades_df.describe()

            OrderID        Shares  Price (CHF)
count  2.483000e+03   2483.000000  2483.000000
mean   1.500128e+07    635.660894   118.224869
std    6.889922e+02   1489.666902   154.319466
min    1.500000e+07      1.000000     2.370000
25%    1.500080e+07     70.000000    22.040000
50%    1.500129e+07    200.000000    72.800000
75%    1.500184e+07    630.000000   166.400000
max    1.500230e+07  38752.000000  2001.000000

In [207]:
trades_df.head()

      RIC  Side   OrderID  Shares  Price (CHF)   OrderStatus   Exchange
0  CSGN.S  Sell  15000003    1230        13.08        FILLED  SIX Swiss
1  UBSG.S   Buy  15000004     958        13.56  PARTIAL FILL  SIX Swiss
2  NOVN.S  Sell  15000006     185        77.00        FILLED  SIX Swiss
3  CSGN.S  Sell  15000007    1237        13.10  PARTIAL FILL  SIX Swiss
4  CSGN.S  Sell  15000007     745        13.10        FILLED  SIX Swiss

In [306]:
bluechips_df.head()

      RIC          ISIN Valor Symbol  Blue chip
0  ABBN.S  CH0012221716         ABBN       True
1  ADEN.S  CH0012138605         ADEN       True
2  ARYN.S  CH0043238366         ARYN       True
3  BAER.S  CH0102484968         BAER       True
4  BALN.S  CH0012410517         BALN       True

In [209]:
trades_df_new = trades_df.merge(bluechips_df, on='RIC',how='outer')
#merge trades dataframe with blue chips dataframe. 
#on key is the RIC column
#use outer so there's no deletion of rows with NaN

In [210]:
trades_df_new.describe()
#take a look at the new trades data frame's specs

            OrderID        Shares  Price (CHF)
count  2.483000e+03   2483.000000  2483.000000
mean   1.500128e+07    635.660894   118.224869
std    6.889922e+02   1489.666902   154.319466
min    1.500000e+07      1.000000     2.370000
25%    1.500080e+07     70.000000    22.040000
50%    1.500129e+07    200.000000    72.800000
75%    1.500184e+07    630.000000   166.400000
max    1.500230e+07  38752.000000  2001.000000

In [211]:
trades_df_new['Blue chip']
#inspect how the column Blue Chip appears for the entire trades dataframe. 
#looks like there are NaNs for those that are not Blue Chip - as expected.

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26      True
27      True
28      True
29      True
        ...
2453     NaN
2454     NaN
2455     NaN
2456     NaN
2457     NaN
2458     NaN
2459     NaN
2460     NaN
2461     NaN
2462     NaN
2463     NaN
2464     NaN
2465     NaN
2466     NaN
2467     NaN
2468     NaN
2469     NaN
2470     NaN
2471     NaN
2472     NaN
2473     NaN
2474     NaN
2475     NaN
2476     NaN
2477    True
2478    True
2479    True
2480    True
2481    True
2482    True
Name: Blue chip, Length: 2483, dtype: object

In [212]:
trades_df_new
#show new trades dataframe that combines trades dataframe with the Blue Chip dataframe, see how it looks there.

,RIC,Side,OrderID,Shares,Price (CHF),OrderStatus,Exchange,ISIN,Valor Symbol,Blue chip
0,CSGN.S,Sell,15000003,1230,13.08,FILLED,SIX Swiss,CH0012138530,CSGN,True
1,CSGN.S,Sell,15000007,1237,13.10,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
2,CSGN.S,Sell,15000007,745,13.10,FILLED,SIX Swiss,CH0012138530,CSGN,True
3,CSGN.S,Sell,15000070,460,13.13,FILLED,SIX Swiss,CH0012138530,CSGN,True
4,CSGN.S,Sell,15000085,1509,13.11,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
5,CSGN.S,Sell,15000085,1543,13.11,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
6,CSGN.S,Sell,15000111,1321,13.12,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
7,CSGN.S,Buy,15000145,2353,13.17,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
8,CSGN.S,Buy,15000145,220,13.17,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
9,CSGN.S,Buy,15000145,187,13.17,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
10,CSGN.S,Buy,15000145,300,13.17,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
11,CSGN.S,Buy,15000145,1798,13.17,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
12,CSGN.S,Buy,15000145,1439,13.17,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
13,CSGN.S,Sell,15000149,1896,13.17,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
14,CSGN.S,Sell,15000149,1475,13.17,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
15,CSGN.S,Sell,15000164,6147,13.23,FILLED,SIX Swiss,CH0012138530,CSGN,True
16,CSGN.S,Sell,15000225,1151,13.25,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
17,CSGN.S,Sell,15000225,1000,13.25,FILLED,SIX Swiss,CH0012138530,CSGN,True
18,CSGN.S,Sell,15000269,69,13.19,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
19,CSGN.S,Sell,15000269,1718,13.19,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
20,CSGN.S,Sell,15000269,2062,13.19,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
21,CSGN.S,Sell,15000273,1729,13.20,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
22,CSGN.S,Sell,15000273,2000,13.20,FILLED,SIX Swiss,CH0012138530,CSGN,True
23,CSGN.S,Sell,15000294,1457,13.22,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
24,CSGN.S,Sell,15000294,1661,13.22,FILLED,SIX Swiss,CH0012138530,CSGN,True
25,CSGN.S,Sell,15000315,490,13.24,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
26,CSGN.S,Sell,15000315,1000,13.24,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
27,CSGN.S,Sell,15000315,1000,13.24,FILLED,SIX Swiss,CH0012138530,CSGN,True
28,CSGN.S,Sell,15000329,1455,13.20,PARTIAL FILL,SIX Swiss,CH0012138530,CSGN,True
29,CSGN.S,Sell,15000329,1746,13.20,FILLED,SIX Swiss,CH0012138530,CSGN,True
...,...,...,...,...,...,...,...,...,...,...
2453,DKSH.S,Buy,15001776,50,72.65,PARTIAL FILL,SIX Swiss,NaN,NaN,NaN
2454,DKSH.S,Buy,15001776,129,72.65,FILLED,SIX Swiss,NaN,NaN,NaN
2455,DKSH.S,Sell,15001828,778,72.80,FILLED,SIX Swiss,NaN,NaN,NaN
2456,DKSH.S,Buy,15002117,125,72.65,PARTIAL FILL,SIX Swiss,NaN,NaN,NaN
2457,DKSH.S,Sell,15002233,57,72.65,PARTIAL FILL,SIX Swiss,NaN,NaN,NaN
2458,DKSH.S,Sell,15002233,15,72.65,PARTIAL FILL,SIX Swiss,NaN,NaN,NaN
2459,DKSH.S,Buy,15002293,80,72.60,PARTIAL FILL,SIX Swiss,NaN,NaN,NaN
2460,DKSH.S,Buy,15002293,25,72.60,PARTIAL FILL,SIX Swiss,NaN,NaN,NaN
2461,DKSH.S,Buy,15002293,24,72.60,PARTIAL FILL,SIX Swiss,NaN,NaN,NaN
2462,ASCN.S,Sell,15001264,206,17.50,PARTIAL FILL,SIX Swiss,NaN,NaN,NaN
2463,ASCN.S,Buy,15001899,223,17.55,FILLED,SIX Swiss,NaN,NaN,NaN
2464,ASCN.S,Sell,15002173,253,17.60,FILLED,SIX Swiss,NaN,NaN,NaN
2465,ASCN.S,Buy,15002299,617,17.60,FILLED,SIX Swiss,NaN,NaN,NaN
2466,FIN.S,Buy,15001337,150,865.00,PARTIAL FILL,SIX Swiss,NaN,NaN,NaN
2467,FIN.S,Buy,15001337,10,865.00,PARTIAL FILL,SIX Swiss,NaN,NaN,NaN
2468,FIN.S,Buy,15001337,6,865.00,FILLED,SIX Swiss,NaN,NaN,NaN
2469,FIN.S,Sell,15001378,89,864.50,PARTIAL FILL,SIX Swiss,NaN,NaN,NaN
2470,FIN.S,Sell,15001378,17,864.50,PARTIAL FILL,SIX Swiss,NaN,NaN,NaN
2471,FIN.S,Sell,15001378,3,864.50,PARTIAL FILL,SIX Swiss,NaN,NaN,NaN
2472,FIN.S,Sell,15001378,5,864.50,FILLED,SIX Swiss,NaN,NaN,NaN
2473,BSLN.S,Sell,15001802,142,76.70,FILLED,SIX Swiss,NaN,NaN,NaN
2474,BSLN.S,Sell,15002295,312,77.15,FILLED,SIX Swiss,NaN,NaN,NaN
2475,MBTN.S,Buy,15002268,630,3.50,PARTIAL FILL,SIX Swiss,NaN,NaN,NaN
2476,MBTN.S,Buy,15002268,459,3.50,FILLED,SIX Swiss,NaN,NaN,NaN
2477,GIVN.S,Buy,15002280,86,2001.00,PARTIAL FILL,SIX Swiss,CH0010645932,GIVN,True
2478,GIVN.S,Buy,15002280,15,2001.00,PARTIAL FILL,SIX Swiss,CH0010645932,GIVN,True
2479,GIVN.S,Buy,15002280,21,2001.00,PARTIAL FILL,SIX Swiss,CH0010645932,GIVN,True
2480,GIVN.S,Buy,15002280,1,2001.00,PARTIAL FILL,SIX Swiss,CH0010645932,GIVN,True
2481,GIVN.S,Buy,15002280,5,2001.00,PARTIAL FILL,SIX Swiss,CH0010645932,GIVN,True
2482,GIVN.S,Buy,15002280,2,2001.00,FILLED,SIX Swiss,CH0010645932,GIVN,True

In [215]:
trades_df_new['Blue chip'] = trades_df_new['Blue chip'].fillna(False)
#fill in NA with False boolean for the new column Blue Chip

In [216]:
trades_df_new['Blue chip'].value_counts()
#check that the boolean value for non Blue Chip now exists

True     2050
False     433
Name: Blue chip, dtype: int64

In [214]:
trades_df_new['mkt_value'] = trades_df_new['Shares'] * trades_df_new['Price (CHF)']
#make a new column mkt value

In [217]:
comms = collections.OrderedDict([('mkt_value', 'sum')])
#takes the market value of each line and sums

In [218]:
comms_per_order = trades_df_new.groupby(['OrderID', 'Blue chip']).agg(comms)
#groups by OrderID and whether it's a Blue Chip, aggregates the market value

In [219]:
comms_per_order.info()
#take a look at what's in the new dataframe that lists mkt value per order

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 854 entries, (15000003, True) to (15002304, True)
Data columns (total 1 columns):
mkt_value    854 non-null float64
dtypes: float64(1)
memory usage: 16.0 KB

In [307]:
#trades_df_new['vari_costs'] = [(0.0001 * trades_df_new['mkt_value']) if trades_df_new['Blue chip'] == True, else (trades_df_new['mkt_value'] * 0.0002)]

#trades_df_new['mkt_value'] * 0.0002 > 1

#trades_df_new['vari_costs'] = trades_df_new['Blue chip'].apply(lambda x: 0.0001 if x == True else 0)

#trades_df_new['vari_costs'] = trades_df_new['vari_costs'] * trades_df_new['mkt_value']

#these didn't work. need to define function as there are nested ifs in the function, see below

In [308]:
def variable_costs(df,BC,netCHF):
    if df[BC] == True: return df[netCHF] * 0.0001
    if (df[netCHF] * 0.0002) < 1.0: return 1.0
    elif (df[netCHF] * 0.0002) > 1.0: return (df[netCHF] * 0.0002)
    else: return 0.0
#function of variable costs given a data frame, Blue Chip and mkt value

In [222]:
comms_per_order = comms_per_order.reset_index()
#it has a two-pronged index. reset it.

In [223]:
comms_per_order.info()
#take a look at the info on the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 854 entries, 0 to 853
Data columns (total 3 columns):
OrderID      854 non-null int64
Blue chip    854 non-null bool
mkt_value    854 non-null float64
dtypes: bool(1), float64(1), int64(1)
memory usage: 14.3 KB

In [224]:
comms_per_order['vari_costs'] = comms_per_order.apply(variable_costs, args=('Blue chip','mkt_value'),axis=1)
#apply the variable costs function, the name of the new column in comms_per_order df is 'vari costs',
#give it the args that the funciton requires, Blue Chip column and mkt_value column

In [226]:
comms_per_order
#show the df with the new column and the variable costs per OrderID

      OrderID  Blue chip  mkt_value  vari_costs
0    15000003       True   16088.40    1.608840
1    15000004       True   12990.48    1.299048
2    15000006       True   14245.00    1.424500
3    15000007       True   25964.20    2.596420
4    15000010       True   72120.00    7.212000
5    15000011       True   22400.00    2.240000
6    15000012       True    9696.64    0.969664
7    15000014      False   11219.40    2.243880
8    15000015       True   43050.00    4.305000
9    15000019       True    9588.00    0.958800
10   15000020       True  348194.00   34.819400
11   15000021       True   34020.00    3.402000
12   15000022       True   48415.50    4.841550
13   15000024       True    4838.04    0.483804
14   15000026       True   14229.44    1.422944
15   15000027       True   39620.18    3.962018
16   15000028      False   19580.40    3.916080
17   15000029       True  247372.08   24.737208
18   15000030       True   22759.20    2.275920
19   15000031      False    5272.40    1.054480
20   15000032       True   11033.49    1.103349
21   15000033      False   13525.00    2.705000
22   15000035       True   12299.00    1.229900
23   15000037       True   28139.60    2.813960
24   15000038       True    8751.60    0.875160
25   15000039       True   47999.05    4.799905
26   15000040       True   25030.00    2.503000
27   15000041      False   19968.00    3.993600
28   15000042       True   34353.00    3.435300
29   15000044      False   18911.25    3.782250
..        ...        ...        ...         ...
824  15002269       True  242687.20   24.268720
825  15002270       True   29393.00    2.939300
826  15002271       True  117500.40   11.750040
827  15002272      False   11059.30    2.211860
828  15002273       True  137957.50   13.795750
829  15002274      False  149619.60   29.923920
830  15002275       True   10113.44    1.011344
831  15002276      False   18380.43    3.676086
832  15002277      False   36209.80    7.241960
833  15002278      False   73725.60   14.745120
834  15002279      False   45431.20    9.086240
835  15002280       True  260130.00   26.013000
836  15002281      False   16680.00    3.336000
837  15002284       True  122910.00   12.291000
838  15002286       True   47771.40    4.777140
839  15002287      False    5200.00    1.040000
840  15002288       True   14182.25    1.418225
841  15002290       True   33245.00    3.324500
842  15002291       True    8508.39    0.850839
843  15002292       True   84128.74    8.412874
844  15002293      False    9365.40    1.873080
845  15002294       True   11800.04    1.180004
846  15002295      False   24070.80    4.814160
847  15002297       True   50489.70    5.048970
848  15002299      False   10859.20    2.171840
849  15002300       True   49377.60    4.937760
850  15002301       True   60099.60    6.009960
851  15002302       True   24386.81    2.438681
852  15002303      False   49402.40    9.880480
853  15002304       True   61041.60    6.104160

[854 rows x 4 columns]

In [238]:
variable_costs = comms_per_order['vari_costs'].sum()
#sum the variable costs

In [252]:
fixed_costs = len(comms_per_order) * 0.01
#determine fixed costs. take length and multiply by 0.01 CHF

In [294]:
all_costs = "{:,}".format(fixed_costs + variable_costs)
#formatted costs - both variable and fixed

In [298]:
all_costs = 'Total Fees Incurred: ' + str(all_costs)
#give it an introductory string

In [299]:
num_orders = 'Total Number of Orders: ' + str(len(comms_per_order))
#number of orders with formatting

In [309]:
shares_traded = 'Total Number of Shares Traded: ' + "{:,}".format(trades_df_new['Shares'].sum())
#shares traded with formatting

In [312]:
total_notional_CHF_traded = 'Total Notional CHF Traded: ' + str("{:,}".format(trades_df_new['mkt_value'].sum()))
#notional CHF with formatting

In [313]:
print (num_orders)
print (shares_traded)
print (total_notional_CHF_traded)
print (all_costs)

Total Number of Orders: 854
Total Number of Shares Traded: 1,578,346
Total Notional CHF Traded: 55,621,964.230000004
Total Fees Incurred: total fees incurred: 6,135.542027